body {
    font-family: monospace;
}

label {
    display: inline-block;
    width: 300px;
}

.dives {
    border: 1px solid black;
    padding: 20px;
}

#usuario {
    font-weight: bold;
    text-align: left;
}

#usuario ::placeholder {
    font-family: monospace;
    font-size: small;
}

.formnome {
    margin-bottom: 10px;
}

.formnumero {
    margin-bottom: 10px;
}

#nome {
    height: 20px;
    width: 300px;
}

#numero {
    height: 20px;
    width: 300px;
}

.lblradios {
    font-weight: bold;
}

.lblcheckboxes {
    font-weight: bold;
}

.lblselect {
    font-weight: bold;
}

